body{
    background-color: black;
}

header{
    text-align: center;
    color: orange;
}

#heading{
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: Georgia;
}
div{
    text-align: center;
}
button{
    font-size: 16px;
    padding: 22px 65px;
    height: 70px;
    width: 10%;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: orange;
}